<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add Ship method</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Update Ship method</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/shipmethods/edit/{id}(id=*{shipmethodid})}" th:object="${shipmethod}"
					method="post">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="name" class="col-form-label">Name</label> <input
								type="text" th:field="*{name}" class="form-control" id="name"
								placeholder="Name"> <span
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="text-danger"></span><br>
							<label for="shipbase" class="col-form-label">Ship base</label> <input
								type="number" th:field="*{shipbase}" class="form-control" id="shipbase"
								placeholder="shipbase" value="0"> <span
								th:if="${#fields.hasErrors('shipbase')}" th:errors="*{shipbase}"
								class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label for="shiprate" class="col-form-label">Ship rate</label> <input
								type="number" th:field="*{shiprate}" class="form-control" id="shiprate"
								placeholder="shiprate" value="0"> <span
								th:if="${#fields.hasErrors('shiprate')}" th:errors="*{shiprate}"
								class="text-danger"></span>
						</div>
						<input type="hidden" id="shipmethodid" th:value="*{shipmethodid}" th:field="*{shipmethodid}">
					</div>
					<div class="row">
						<div class="col-md-6 mt-3">
							<input type="submit" name="action" class="btn btn-primary"
								value="Update Shipmethod">
						</div>
						<div class="col-md-3 mt-3">
							<input type="reset" class="btn btn-secondary" value="Clear">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary"
								value="Cancel">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>