<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title> Purchase order header</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Purchase order header</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/purchaseorderdetails/}"
					th:object="${purchaseorderheader}" method="get">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="subtotal" class="col-form-label">Sub total</label> <input
								type="number" th:field="*{subtotal}" class="form-control"
								id="subtotal" placeholder="subtotal" th:value="*{subtotal}" disabled> <br>
								 <label for="orderdate"
								class="col-form-label">Order date</label> <input type="date"
								th:field="*{orderdate}" class="form-control" id="orderdate"
								placeholder="orderdate" th:value="*{orderdate}" disabled> 
						</div>
						<div class="form-group col-md-6">
							<label for="employeeid" class="col-form-label">Employee
								</label> 
								<input type = "text"
									th:value="*{employeeid}" class="form-control"
									disabled></input>
								 <label
								for="personid" class="col-form-label">Person
								</label> 
								<input type= "text" disabled
									th:value="*{personid}" class="form-control"
									></input>

						</div>
					<label for = "id" class="col-form-label">Id</label>
					<input type="number" th:field="*{purchaseorderid}" th:value="*{purchaseorderid}" disabled class="form-control">
					</div>
					<div class="row">
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary"
								value="Go back">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>